<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>Activity Management</h5>
      <small *ngIf="titleAction$ | async as title">{{ title }}</small>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <!-- nav bar -->
  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a class="nav-item nav-link active ml-1" (click)="changeTitle('Users')" data-toggle="tab"
          [routerLink]="['/user/management']">
          <i class="fa fa-users"></i> Users
        </a>
        <a class="nav-item nav-link active ml-1" (click)="changeTitle('Phases')" data-toggle="tab"
          [routerLink]="['/phase/management']">
          <i class="fa fa-spinner"></i> Phases
        </a>
        <a class="nav-item nav-link active ml-1" (click)="changeTitle('Tasks')" data-toggle="tab"
          [routerLink]="['/task/management']">
          <i class="fa fa-tasks"></i> Tasks
        </a>
        <a [hidden]="!isAdmin" class="nav-item nav-link ml-3" (click)="changeTitle('Settings')" data-toggle="tab"
          href="#reset-password">
          <i class="fa fa-cogs"></i> Settings
        </a>
        <a class="nav-item nav-link move-right mr-3" (click)="changeTitle('Profile')" data-toggle="tab" href="#profile">
          (Read Only) Welcome, {{user?.firstName}}
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </nav>

  <!-- main content -->
  <div class="tab-content mt-3" id="myTabContent">
    <!-- activity table -->
    <div class="tab-pane fade show active" id="activities">
      <div class="mb-3 float-right">
        <div class="btn-group mr-2">
          <form class="form-inline my-2 my-lg-0 justify-content-center">
            <input name="searchTerm" #searchInput="" class="form-control mr-sm-2" ngModel
              (ngModelChange)="searchActivities(searchInput.value)" type="search" placeholder="Search Activities...">
          </form>
          <button [hidden]="!isAdmin" type="button" class="btn btn-info" data-toggle="modal"
            data-target="#addActivityModal">
            <i class="fa fa-plus"></i>New Activity
          </button>
        </div>
        <div class="btn-group">
          <button type="button" (click)="getActivities(true)" class="btn btn-info">
            <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!refreshing" class="fas fa-sync"></i>
          </button>
          <button type="button" (click)="downloadExcel()" class="btn btn-info">
            <i class="fa fa-download"></i>
          </button>
        </div>
      </div>
      <table class="table table-hover">
        <thead class="table-borderless">
          <tr class="text-center">
            <th>idActivity</th>
            <th>tittle</th>
            <th>Created Date</th>
            <th>CreatedBy</th>
            <th>State</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let activity of activities">
          <tr class="text-center">
            <td (click)="onSelectActivity(activity)">{{activity?.idActivity}}</td>
            <td (click)="onSelectActivity(activity)">{{activity?.tittle}}</td>
            <td (click)="onSelectActivity(activity)">{{activity?.createdDate | date:'short'}}</td>
            <td (click)="onSelectActivity(activity)">{{activity?.createdBy.email}}</td>
            <td (click)="onSelectActivity(activity)">
              <span *ngIf="activity?.stateActivity.idStateActivity ===1"
                class="badge badge-warning">{{activity?.stateActivity.state}}</span>
              <span *ngIf="activity?.stateActivity.idStateActivity ===2"
                class="badge badge-info">{{activity?.stateActivity.state}}</span>
              <span *ngIf="activity?.stateActivity.idStateActivity ===3"
                class="badge badge-success">{{activity?.stateActivity.state}}</span>
            </td>
            <td class="">
              <div class="btn-group">
                <button class="btn btn-outline-info" (click)="onEditActivity(activity)"><i
                    class="fas fa-edit"></i></button>
                <button [hidden]="!isAdmin" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button [hidden]="true" type="button" id="openActivityInfo" data-toggle="modal" data-target="#viewActivityModal">
    </button>
    <button [hidden]="true" type="button" id="openActivityEdit" data-toggle="modal" data-target="#editActivityModal">
    </button>
    <!-- user profile -->

    <!-- Activity  info -->
    <div class="modal fade bd-example-modal-lg" id="viewActivityModal" tabindex="-1" role="dialog" aria-labelledby=""
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5><span class="badge badge-primary"># {{selectedActivity?.idActivity}} </span>
              {{selectedActivity?.tittle}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div class="card">
                <div class="">
                  <div class="card-header text-center" *ngIf="selectedActivity?.endDuration"><small> End Duration :
                    </small>
                    <span class="badge badge-danger">{{selectedActivity?.endDuration | date:'short'}}</span>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="phaseTextareaDescription">Description: </label>
                      <textarea class="form-control" id="phaseTextareaDescription"
                        value="{{selectedActivity?.description}}" rows="2" readonly></textarea>
                    </div>
                    <div class="form-group">
                      <label for="phaseTextareaDescription">Created By: </label>
                      <input type="text" class="form-control" readonly
                        value="{{selectedActivity?.createdBy.firstName}} {{selectedActivity?.createdBy.lastName}} - ({{selectedActivity?.createdBy.username}})">
                    </div>
                    <div class="form-group">
                      <label for="tasksForActivity">Tasks Asigned: </label>
                      <details (open)="false" *ngFor="let taskAsined of selectedActivity?.tasksAsignedToActivity">
                        <summary>
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><span class="badge badge-primary">#
                                {{taskAsined?.idTask}}
                              </span> {{taskAsined?.tittle}}</font>
                          </font>
                        </summary>
                        <p>
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                              <span *ngIf="taskAsined?.stateTask.idStateTask ===1"
                                class="badge badge-warning">{{taskAsined?.stateTask.state}}</span>
                              <span *ngIf="taskAsined?.stateTask.idStateTask ===2"
                                class="badge badge-info">{{taskAsined?.stateTask.state}}</span>
                              <span *ngIf="taskAsined?.stateTask.idStateTask ===3"
                                class="badge badge-success">{{taskAsined?.stateTask.state}}</span>
                              {{taskAsined.description}}
                            </font>
                          </font>
                        </p>
                      </details>
                    </div>
                    <h6 class="modal-title"> Users Asingned to Activity: </h6>
                    <table class="table table-hover">
                      <thead class="table-borderless">
                        <tr class="text-center">
                          <th>name</th>
                          <th>username</th>
                          <th>email</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let usersAsined of selectedActivity?.usersAsignedToActivity">
                        <tr class="text-center">
                          <td>{{usersAsined?.firstName}} {{usersAsined?.lastName}}</td>
                          <td>{{usersAsined?.username}}</td>
                          <td>{{usersAsined?.email}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer text-center">
                    {{selectedActivity?.createdDate | date:'short'}} -
                    <span class="badge badge-pill badge-danger">{{getDiffDays(selectedActivity?.startDuration,
                      selectedActivity?.endDuration)}}</span> Days To Finish.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- model add Activity -->

    <div [hidden]="!isAdmin" class="modal draggable fade bd-example-modal-lg" id="addActivityModal" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center">Create Activity</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <form #newActivityForm="ngForm" (ngSubmit)="onAddNewActivity(newActivityForm)">
                <div class="form-group">
                  <label for="tittle">Tittle</label>
                  <input type="text" name="tittle" required ngModel class="form-control">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" id="description" rows="2" required
                    ngModel></textarea>
                </div>
                <div class="form-group">
                  <label for="tasksAsign">Asign Tasks</label>
                  <ngx-bootstrap-multiselect [options]="tasksAviables" [texts]="myTexts" [settings]="mySettings"
                    id="tasksAsignEdit" name="tasksAsignEdit" [(ngModel)]="selectedTasksToActivity"
                    (ngModelChange)="onChange()" [ngModelOptions]="{standalone: true}"
                    required></ngx-bootstrap-multiselect>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="startDuration" class="form-label">Start Duration</label>
                      <input size="16" class="form-control" name="startDuration" id="startDuration"
                        type="datetime-local" required ngModel>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="endDuration" class="form-label">End Duration</label>
                      <input size="16" class="form-control" name="endDuration" id="endDuration" type="datetime-local"
                        required ngModel>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="priority">Priority</label>
                      <input type="number" name="priority" required class="form-control" required ngModel>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="stateActivity">state Activity</label>
                      <select name="stateActivity" id="stateActivity" required class="form-control" required
                        [(ngModel)]="activityStateSelected">
                        <option [ngValue]="activityState" *ngFor="let activityState of activityStates">
                          {{activityState.state}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="usersAsign">Asign users</label>
                  <ngx-bootstrap-multiselect [options]="usersAviables" [texts]="myTexts" [settings]="mySettings"
                    [(ngModel)]="selectedUsersToActivity" (ngModelChange)="onChange()"
                    [ngModelOptions]="{standalone: true}" required></ngx-bootstrap-multiselect>
                </div>
                <button type="submit" style="display: none;" id="new-activity-save"></button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-activity-close">Close</button>
            <button type="button" (click)="saveNewActivity()" [disabled]="newActivityForm.invalid"
              class="btn btn-primary">Save
              changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal activity edit -->

    <div class="modal draggable fade bd-example-modal-lg" id="editActivityModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center">Edit <span class="badge badge-primary"># {{editActivity?.idActivity}}
              </span> {{editActivity?.tittle}} <small [hidden]="isAdminOrManager">
                (read only)
              </small></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="">
              <form #activityForm="ngForm">
                <div class="form-group">
                  <label for="phaseEdit">Tittle</label>
                  <input type="text" name="phaseEdit" [disabled]="!isAdminOrManager" required
                    [(ngModel)]="editActivity.tittle" class="form-control">
                </div>
                <div class="form-group">
                  <label for="descriptionEdit">Description</label>
                  <textarea class="form-control" name="descriptionEdit" [disabled]="!isAdminOrManager" id="description"
                    rows="2" required [(ngModel)]="editActivity.description">{{editActivity.description}}</textarea>
                </div>
                <div class="form-group">
                  <label for="tasksAsignEdit"></label>
                  <ngx-bootstrap-multiselect [options]="tasksAviables" [texts]="myTexts" [settings]="mySettings"
                    id="tasksAsignEdit" name="tasksAsignEdit" [(ngModel)]="selectedTasksToActivity"
                    (ngModelChange)="onChange()" [ngModelOptions]="{standalone: true}"
                    required></ngx-bootstrap-multiselect>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="startDurationEdit" class="form-label">Start Duration</label>
                      <input size="16" class="form-control" name="startDurationEdit" id="startDurationEdit"
                        value="editActivity.startDuration" type="datetime-local" required
                        [ngModel]="editActivity.startDuration | date:'yyyy-MM-ddTHH:mm'">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="endDurationEdit" class="form-label">End Duration</label>
                      <input size="16" class="form-control" name="endDurationEdit" id="endDurationEdit"
                        type="datetime-local" [ngModel]="editActivity.endDuration | date:'yyyy-MM-ddTHH:mm'" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="orderingEdit">Priority</label>
                      <input type="number" name="orderingEdit" value="{{editActivity.priority}}"
                        [(ngModel)]="editActivity.priority" required class="form-control" required ngModel>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="stateActivityEdit">state Activity</label>
                      <select name="stateActivityEdit" id="stateActivityEdit" required class="form-control" required
                        [(ngModel)]="activityStateSelected">
                        <option [ngValue]="activityState" *ngFor="let activityState of activityStates">
                          {{activityState.state}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="usersAsignEdit">Asign users</label>
                  <ngx-bootstrap-multiselect [options]="usersAviablesForEdit" [texts]="myTexts" [settings]="mySettings"
                    id="usersAsignEdit" name="usersAsignEdit" [(ngModel)]="selectedUsersToActivity"
                    (ngModelChange)="onChange()" [disabled]="!isAdminOrManager" [ngModelOptions]="{standalone: true}"
                    required></ngx-bootstrap-multiselect>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
              id="closeEditActivityModalButton">Close</button>
            <button type="button" (click)="onUpdateActivity()" [disabled]="activityForm.invalid || !isAdminOrManager"
              class="btn btn-primary">Save
              changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>